<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="master" class="com.terracota.mv.Master">
        <constructor-arg ref="queue"/>
    </bean>

    <bean id="queue" class="java.util.concurrent.LinkedBlockingQueue"/>

</beans>